@media (max-width: 1280px) {
  .container {
    flex-direction: column;
    width: 90%;
    border-radius: 20px;
  }

  .container header {
    width: 100%;
  }

  .container header h1 {
    font-size: 24px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .container header #input-search,
  .container header #btn-search {
    width: 100%;
  }

  .section {
    padding-top: 40px;
    margin-top: 30px;
    width: 80%;
  }

  .container .profile-data .info img {
    width: 50%;
  }

  .container .profile-data .info .data {
    width: 90%;
  }
}

@media (max-width: 425px) {
  main {
    padding: 15% 0;
  }

  .section {
    width: 60%;
  }

  .container .profile-data .info img {
    margin-bottom: 20px;
  }

  .container .profile-data .info img,
  .container .profile-data .info .data {
    width: 60%;
    padding: 0;
  }

  .not-found {
    padding: 20px 40px;
  }

  .container .profile-data .events ul {
    padding: 10px;
  }
}
