@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

img {
  max-width: 100%;
}

body {
  background-color: #1a1523;
  font-family: "Kumbh Sans", sans-serif;
  text-align: center;
  padding-bottom: 100px;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 50px 0 0;
}

.devicon-github-original {
  font-size: 60px;
  margin-bottom: 30px;
  color: #b8b8b8;
}

.section {
  border-top: 1px solid #a3a3a3;
  padding-top: 10px;
  margin-top: 15px;
  width: 100%;
}

.container {
  width: 60%;
  max-width: 960px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 25px 50px -12px;
  background-color: #b8b8b8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 30px;
  margin: 0 auto;
}

.container header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0;
}

.container header h2 {
  color: #1a1523;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.container header #input-search {
  width: 400px;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 7px;
  border: none;
}

.container header #btn-search,
#list {
  width: 200px;
  font-size: 14px;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  border: none;
  transition: 0.3s ease-in-out;
  background-color: #d6d6d6;
}

.container header #btn-search:hover,
#list:hover {
  background-color: #1a1523;
  color: #ffffff;
}

.container .profile-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.container .profile-data .info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container .profile-data .info .data {
  padding: 20px;
  width: 60%;
}

.container .profile-data .info img {
  width: 30%;
  border-radius: 50%;
  border: 4px solid #1a1523;
}

.container .profile-data .info h1 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}

.container .profile-data .info p {
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
}

.container .profile-data .info .data .numbers {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.container .profile-data .info .data .numbers div {
  margin: 10px 20px 0;
}

.container .profile-data .info .data .numbers .title {
  font-weight: 700;
}

.container .profile-data .repositories .repos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0;
}

.container .profile-data .repositories .repos-container .repo {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #a3a3a3;
  margin: 20px;
  border-radius: 7px;
}

.container .profile-data .repositories .repos-container ul a:hover {
  font-weight: 800;
}

.container .profile-data .repositories .repos-container .repos-info li {
  border: 1px solid #a3a3a3;
  background-color: #d3d3d3;
  padding: 10px;
  margin: 15px 0;
  border-radius: 5px;
  display: inline-flex;
}

.container .profile-data .events {
  width: 100%;
}

.container .profile-data .events ul {
  padding: 10px 0;
  border: 1px solid #a3a3a3;
  margin: 20px;
  border-radius: 7px;
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.container .profile-data .events ul li {
  padding: 5px 0;
}

.container .profile-data .events ul li a {
  font-weight: 600;
}

.not-found {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 25px 50px -12px;
  align-items: center;
  padding: 40px 80px;
  border-radius: 5px;
}

.not-found span {
  text-align: center;
  color: #fff;
  font-family: "Dosis", sans-serif;
  font-size: 100px;
  font-weight: 800;
}

.not-found p {
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
}

.test-div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.test-ul {
  background-color: lightpink;
  padding: 20px;
  border-radius: 10px;
}

.test {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}
